fastapi
uvicorn[standard]
pandas
openpyxl
Chromium
webdriver-manager
pyodbc
python-dotenv
requests
openai
sqlalchemy
flask-sqlalchemy
selenium
bs4
chromedriver-autoinstaller
msal
requests
outlook
XlsxWriter
xlwt
mega.py          
pycryptodome      
python-jose
python-multipart
psycopg2-binary
sqlmodel